@import url('https://fonts.googleapis.com/css?family=helvetica');

.container {
  padding: 10px;
  min-width: 120px;
}

img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.text_box {

  p, h1, h5 {
    margin: 0;
    font-family: helvetica, serif;
    font-size: calc(10px + 0.4vw);
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;

    h1 {
      font-size: calc(12px + 0.4vw);
    }
  }

  .host {
    color: rgba(176, 176, 176, 0.7);
    padding-bottom: 5%;
  }
}



