.container {
  padding: 10px;
  min-width: 120px;
}

img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.text_box {
  p, h1, h5 {
    margin: 0;
    font-family: helvetica, serif;
    font-size: calc(10px + 0.4vw);
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;

    h1 {
      font-size: calc(12px + 0.4vw);
    }
  }

  .host {
    color: rgba(176, 176, 176, 0.7);
    padding-bottom: 5%;
  }
}


.container_fav {
  display: flex;
}

.div_width {
  width: 40%;
}

.text_box_fav {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  padding: 0;

  p, h2, h5 {
    margin: 0 0 0.5vh;
    font-size: calc(10px + 0.5vw);

  }

  h2 {
    font-size: calc(15px + 0.5vw);

  }

  .header {
    padding: 0;
  }

  .host {
    padding: 0;
  }
}

