<div class="container">
  <a [routerLink]="['/houses', id]">
    <img [src]="image" alt="imagemCasa">
  </a>
  <div class="text_box">
    <div class="header">
    <span class="title">
        <h1>
            {{country}}, {{city}}
        </h1>
    </span>
      <app-star-rating
        [rating]=rating
        fontSize="calc(12px + 0.4vw)"
      ></app-star-rating>
    </div>
    <p class="host">Anfitrião {{host_type}}</p>
    <p class="price">
      <strong>{{price}}€</strong> noite
    </p>
  </div>
</div>
