* {
  margin: 0;
}

.container {
  width: 100%;
}

.coments {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5vw;

  img {
    max-width: 15vw;
    object-fit: cover;
    border-radius: 50%;
  }

  .name {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2vw;

    p {
      margin-bottom: 0.5vw;
    }

    .date {
      font-size: calc(11px + 0.5vw);
      color: #b9b9b9;
    }
  }
}

.description {
  font-size: calc(12px + 0.5vw);
}
