<div class="container">
  <h1>{{data.title}}</h1>
  <div class="header">
    <span>
      <app-star-rating
        [rating]="data.rating"
        fontSize="calc(15px + 0.5vw)"
      ></app-star-rating>
    </span>
    <span>
      <p class="dot">&#183;</p>
    </span>
    <span>
      <p>{{data.city}}, {{data.country}}</p>
    </span>
  </div>
  <div [ngStyle]="{'background-image': 'url(' + data.featured_photo + ')'}" class="image"></div>
  <div class="description">
    <p><strong>{{data.price}}€</strong> noite</p>
    <p class="text"> {{data.description}}</p>
  </div>
  <app-commodities-and-rules [id]="data.id"></app-commodities-and-rules>
  <div class="host">
    <h6>Sobre o anfitrião</h6>
    <app-host-detail [id]="data.id"></app-host-detail>
  </div>
  <div class="galery">
    <h6>Galeria</h6>
    <app-gallery [featured_photo]="data.featured_photo" [id]="id_house"></app-gallery>
  </div>
  <div class="coments">
    <h6>Comentários</h6>
    <app-coments [id]="data.id"></app-coments>
  </div>
</div>

