@import url('https://fonts.googleapis.com/css?family=helvetica');


.start_rating {
  display: flex;
  align-items: center;
}

fa-icon {
  padding-right: 5px;
}

* {
  margin: 0;
  font-family: helvetica, serif;
}
