<nav class="navigation">
  <div class="container">
    <div class="item">
      <a routerLink="/catalog" routerLinkActive="active">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
    <div class="item">
      <a routerLink="/profile" routerLinkActive="active">
        <img id="home" [src]="logo" alt="search">
      </a>
    </div>
    <div class="item">
      <a routerLink="/favourites" routerLinkActive="active">
        <img id="button" [src]="favourite">
      </a>
    </div>
  </div>
</nav>
