<nav class="navigation">
  <div class="container">
    <div class="item">
      <a routerLink="/houses" routerLinkActive="active">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
    <div class="item">
      <a routerLink="/home" routerLinkActive="active">
        <img [src]="logo" alt="search" id="home">
      </a>
    </div>
    <div class="item">
      <a routerLink="/favourites" routerLinkActive="active">
        <fa-icon [icon]="faHeart"></fa-icon>
      </a>
    </div>
  </div>
</nav>
